<body class="with-side-menu">
	{{> navbar }}
	<div class="mobile-menu-left-overlay-"></div>
	{{> nav }}
	<div class="page-content">
		<div class="container-fluid">
			<header class="section-header">
				<div class="tbl">
					<div class="tbl-row">
						<div class="tbl-cell">
							<h3>Planificar</h3>
							<ol class="breadcrumb breadcrumb-simple">
								<li><a href="/home">Inicio</a></li>
								<li class="active">Planificar</li>
							</ol>
						</div>
                    </div>    
				</div>
			</header>
            <div class="box-typical box-typical-padding">
                <div class="row">
                    <div class="col-md-4 col.sm-6">
						<label class="form-label" >Gerencia:</label>
						<select class="select2" name="gerencia" id="gerencia">
							<option value="">Seleccione una gerencia</option>
							{{#each gerencias}}
							<option value="{{vcgas_idGerencia}}">{{vcgas_gerenciaN}}</option>
							{{/each}}
						</select>
					</div>
                    <div class="col-md-4 col.sm-6">
						<label class="form-label" >Area:</label>
						<select class="select2" name="area" id="area" disabled="true">
							<option value="">Seleccione un área</option>
						</select>
					</div>
					<div class="col-md-4 col.sm-6">
						<label class="form-label" >Sector:</label>
							<select class="select2" name="sector" id="sector" disabled="true">
							<option value="">Seleccione un sector</option>
						</select>
					</div>
                </div>
            </div>
		</div>	
	</div>
	<script src="/js/lib/jquery/jquery.min.js"></script>
	<script src="/js/lib/tether/tether.min.js"></script>
	<script src="/js/lib/bootstrap/bootstrap.min.js"></script>
	<script src="/js/plugins.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/lib/datatables-net/datatables.min.js"></script>
	<script src="/js/lib/bootstrap-sweetalert/sweetalert.min.js"></script>
	<script src="/js/lib/summernote/summernote.min.js"></script>
	<script src="/js/lib/fancybox/jquery.fancybox.pack.js"></script>
	<script src="/js/summernote-ES.js"></script>
	<script src="/js/lib/select2/select2.full.min.js"></script>
    <script>
        function _(element)
        {
            return document.getElementById(element); 
        }

        function fetch_data( parent_element, child_element, type)
        {
            fetch('/get_datapla?type='+type+'&parent_value='+parent_element.value+'').then(function(response){
                return response.json();
            }).then(function(responseData){

                var html = '';

                if(type == 'load_areass'){
                    html = '<option value="">Seleccione un área</option>';
                    for(var count = 0; count < responseData.length; count++)
                    {
                        html += '<option value="'+responseData[count][0]+'">'+responseData[count][1]+'</option>';    
                    }
                    
                }

                if(type == 'load_sectoress'){
					html = '<option value="">Seleccione un sector</option>';
                    for(var count = 0; count < responseData.length; count++)
                    {
                        html += '<option value="'+responseData[count][0]+'">'+responseData[count][1]+'</option>';    
                    }
                }

				child_element.innerHTML = html;
            });
        }

        _('gerencia').onchange = function(){			
            fetch_data(_('gerencia'), _('area'), 'load_areass');
			$('#area').prop('disabled', false);
        };

        _('area').onchange = function(){
            fetch_data(_('area'), _('sector'), 'load_sectoress');
			$('#sector').prop('disabled', false);
        };

		_('sector').onchange = function(){
            fetch_data(_('sector'), _('equipo'), 'load_equiposs');
			$('#equipo').prop('disabled', false);
        };
    </script>

   