<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        body { 
            font: 14px/1.4 Verdana, Serif; 
        }
        </style>
</head>
<body>
    <p>Estimado(a) usuario:</p>
    <p>Le informamos que, con fecha {{datemail}}, se han creado tareas del servicio Sercoing SPCI.</p>
    <p>Revise los detalles en <a href="https://sapmadand.sercoing.cl/" target="_blank">Plataforma SAPMADAND</a></p>

<p style="text-align: left;">Atte<br>
  <strong>SAPMA - Sercoing</strong></p>
<hr style="text-align: left; border: 1px solid  rgb(227, 227, 227);  width: 300;">
<p>
  <a href="www.sercoing.cl" target="_blank">www.sercoing.cl</a><br>
  Los Naranjos 13, Los Andes, Valparaíso
</p>
<hr style="text-align: left; border: 1px solid  rgb(227, 227, 227);  width: 300;">
<img src="cid:imagen1" width="300" height="100">
<p>*Este correo es generado de manera automática desde Plataforma SAPMA, favor no responder.</p>    
</body>
</html>