<body class="with-side-menu">
	{{> navbar }}
	<div class="mobile-menu-left-overlay-"></div>
	{{> nav }}
	<div class="page-content">
		<div class="container-fluid">
			<header class="section-header">
				<div class="tbl">
					<div class="tbl-row">
						<div class="tbl-cell">
							<h3>Tareas Generales</h3>
							<ol class="breadcrumb breadcrumb-simple">
								<li><a href="/home">Inicio</a></li>
								<li class="active">Tareas</li>
								<li class="active">Tareas generales</li>
							</ol>
						</div>
						<div class="form-group float-right">
                            <button type="button" class="btn btn-rounded btn-warning" id="pdfs" name="pdfs" hidden="true" ><i class="fa fa-file-pdf-o"></i></button>
							<button type="button" class="btn btn-rounded btn-warning" id="pdfs1" name="pdfs1" hidden="true" ><i class="fa fa-file-pdf-o"></i></button>
						</div>
					</div>
				</div>
				<style>					
					.dataTables_filter {
							float: left;
					}
					.dt-buttons {
						float: right;
					}
					.no-seleccionable {
						cursor: not-allowed;
						pointer-events: none;
					}
					#check-toggle-1:checked + label::before {
						background-color: #f00;
						border-color: #f00;
					}
					#check-toggle-3:checked + label::before {
						background-color: #f00;
						border-color: #f00;
					}
					#check-toggle-4:checked + label::before {
						background-color: #f00;
						border-color: #f00;
					}
					#check-toggle-2:checked + label::before {
						background-color: rgb(14, 228, 18);
						border-color: rgb(14, 228, 18);
					}
					#test:checked + label::before {
						background-color: #f00;
						border-color: #f00;
					}
				</style>
			</header>
			<div class="box-typical box-typical-padding">
				<div class="checkbox-toggle">
					<input type="checkbox" id="check-toggle-1">
					<label for="check-toggle-1">Anular Tareas</label>&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="checkbox" id="check-toggle-3">
					<label for="check-toggle-3">Anular Tareas usando lista</label>&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="checkbox" id="check-toggle-4" >
					<label for="check-toggle-4">Anular usando archivo</label>
				</div>	
				<section class="card box-typical" style="min-height: 120px;" id="encabezado">
                    <div class="card-block">
						<div class="row"> 
							<div class="col-md-2">
								<label class="form-label" for="date3">Seleccione año</label>
								<select class="form-control" name="date3" id="date3">
									<option value="" disabled selected>Seleccione un año</option>
									{{#each fecha_anio}}
										<option value="{{Anio}}">{{Anio}}</option>
									{{/each}}
								</select>
							</div>
							<div class="col-md-2">
								<label class="form-label" for="date4">Seleccione mes</label>
								<select class="form-control" name="date4" id="date4">
									<option value="" disabled selected>Seleccione un mes</option>
								</select> 
							</div>
							<div class="col-md-2">
								<label class="form-label" for="tarea">Buscar una Tarea</label>
								<input class="form-control" id="tarea" name="tarea" placeholder="Ingrese un ID de Tarea">
							</div>
							<div class="col-md-1">
								<label class="m-b-1">Incluir TEST</label>
								<div class="checkbox-toggle">
									<input type="checkbox" id="test">
									<label for="test"></label>
								</div>
							</div>
							<div class="col-md-3">
								<label class="form-label" for="buscar" style="color: aliceblue;">.</label>
								<button type="button" name="buscar" id="buscar" class="btn btn-primary">Filtrar</button>
							</div>
						</div>
					</div>
                </section>
				<section class="card box-typical" id="tabla_prot11">
					<div class="card-block">
						<form action="">
							<table id="tabla_prot1" class="table table-bordered table-striped table-vcenter js-dataTable-full">
								<thead>
									<tr>
										<th>Tarea</th>
										<th>Fecha</th>
										<th>Tag</th>
										<th>Técnico</th>
										<th>Gerencia</th>
										<th>Area</th>
										<th>Sector</th>
										<th>Tipo de servicio</th>
										<th>Estado de tarea</th>
										<th>Estado equipo</th>
										<th>Observación estado</th>
										<th>Validador</th>
										<th>Observación validación</th>
										<th>Ver</th>
									</tr>
								<tbody>			
								</tbody>
							</table>
						</form>
					</div>
				</section>
				<section class="card box-typical" id="form_todo" style="display: none;">
					<div class="card-block">
						<form>
							<div class="form-group row">
								<label for="exampleSelect" class="col-sm-2 form-control-label">* Ingrese una lista de tareas separadas por coma:</label>
								<div class="col-sm-10">
									<textarea rows="5" class="form-control" id="tareas_lista"></textarea>
								</div>
							</div>
						</form>
					</div>
				</section>
				<section class="card box-typical" id="form_ex" style="display: none;">
					<div class="card-block">
						<form action="">
							<div class="form-group">
								<label for="file-input">* Descarga la plantilla, luego ingresa los IDs de las tareas a anular en el archivo excel. Selecciona el archivo y anula las tareas.</label>
								<br>
								<input type="file" class="form-control" id="file-input" accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
							</div>
						</form>
					</div>
				</section>
				<button class="btn btn-rounded btn-danger" id="anula_lista" name="anula_lista" hidden="true">Anular Tareas</button>
				<button class="btn btn-rounded btn-danger" id="anular1" name="anular1" hidden="true">Anular Tareas</button>
				<br>
				<button class="btn btn-rounded btn-danger" id="anular2" name="anular2" hidden="true">Anular Tareas</button>
				<button class="btn btn-rounded btn-success float-right" id="excel" name="excel" hidden="true">Descarga plantilla</button>
			</div>
		</div>	
	</div>
	<script src="/js/lib/jquery/jquery.min.js"></script>
	<script src="/js/lib/tether/tether.min.js"></script>
	<script src="/js/lib/bootstrap/bootstrap.min.js"></script>
	<script src="/js/plugins.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/lib/datatables-net/datatables.min.js"></script>
	<script src="/js/lib/bootstrap-sweetalert/sweetalert.min.js"></script>
	<script src="/js/lib/summernote/summernote.min.js"></script>
	<script src="/js/lib/fancybox/jquery.fancybox.pack.js"></script>
	<script src="/js/summernote-ES.js"></script>
	<script src="/js/lib/select2/select2.full.min.js"></script>
	<script type="text/javascript" src="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>
	<script src="/generales.js"></script>
	<script src="/sessions.js"></script>
</body>