<div class="modal fade bd-example-modal-lg" id="configurar" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                    <i class="font-icon-close-2"></i>
                </button>
                <h4 class="modal-title" id="titulo_configurar">Configuración</h4>
            </div>
            <form action="" id="form_configurar">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="card-block">
                            <div class="row">
                                <div class="form-group">
                                    <div class="form-group col-md-12">
                                        <label class="form-label" for="maximo">Máximo de tareas diarias</label>
                                        <input class="form-control" type="number" id="maximo" name="maximo" value="{{maximo}}" min="1" max="200">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <button type="button" class="btn btn-outline-primary float-right" id="actvariable">Actualizar</button>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> 