
<div class="modal fade bd-example-modal-lg" id="edit_ciclo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                    <i class="font-icon-close-2"></i>
                </button>
                <h4 class="modal-title" id="titulo_ciclo">Editar ciclo</h4>
            </div>
            <form action="" id="form_ciclo">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="card-block">
                            <div class="row">
                                <div class="form-group col-md-6 col-sm-6">
                                    <label class="form-label" for="act_nombre">Nombre</label>
                                    <input type="text" id="id_ciclo" name="id_ciclo" hidden="true">  
                                    <input class="form-control" type="text" id="act_nombre" name="act_nombre">  
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <label class="form-label" for="act_tipo_equipo">Tipo de Equipo</label>
                                    <select class="form-control" id="act_tipo_equipo" name="act_tipo_equipo"></select>
                                </div>
                                 {{!-- <h5 class="m-t-lg with-border" style="color: aliceblue;">.</h5> --}}
                                {{!-- <div class="form-group col-md-12 col-sm-6">
                                    <button id="agrega_fila" class="btn btn-inline btn-primary btn-sm ladda-button float-right"><i class="fa fa-plus"></i></button>
                                </div> --}}
                                {{!-- <br>
                                <div id="informacion"></div> --}}
                                <br>
                                <br>
                                <button type="button"  name="actualizar" id="actualizar" class="btn btn-rounded btn-success float-right">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>  
<div class="modal fade bd-example-modal-lg" id="duplicar_ciclo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                    <i class="font-icon-close-2"></i>
                </button>
                <h4 class="modal-title" id="titulo_duplicar"></h4>
            </div>
            <form action="" id="form_ciclo">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="card-block">
                            <div class="row">
                                <div class="form-group col-md-6 col-sm-6">
                                    <input type="text" id="id_duplicar" hidden="true">
                                    <label class="form-label" for="nombre_duplicar">Nombre</label>
                                    <input class="form-control" type="text" id="nombre_duplicar" name="nombre_duplicar" disabled>
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <label class="form-label" for="tipo_equipo_duplicar">Tipo de equipo</label>
                                    <input class="form-control" type="text" id="tipo_equipo_duplicar" name="tipo_equipo_duplicar" disabled>   
                                </div>
                                <div class="col-md-12">
                                    <div class="box-typical box-typical-padding">
                                        <table id="tabla_duplicar" class="table table-bordered table-striped table-vcenter js-dataTable-full">
                                            <thead>
                                                <tr>
                                                    <th>Tipo de protocolo</th>
                                                    <th>Periodicidad</th>
                                                    <th>Periodo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <h5 class="m-t-lg with-border">Información del nuevo ciclo</h5>
                                <div class="form-group col-md-6 col-sm-6">
                                    <label class="form-label" for="new_nombre_duplicar">Nombre</label>
                                    <input class="form-control" type="text" id="new_nombre_duplicar" name="new_nombre_duplicar" placeholder="Asigne un nuevo nombre al ciclo">
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <label class="form-label" for="new_tipo_equipo_duplicar">Tipo de equipo</label>
                                    <select class="form-control select2" type="text" id="new_tipo_equipo_duplicar" name="new_tipo_equipo_duplicar">  
                                    </select>     
                                </div>
                                <br><br><br>
                                <div class="col-md-12 col-sm-6">
                                    <button type="button"  name="new_duplicar" id="new_duplicar" class="btn btn-rounded btn-success float-right">Duplicar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>  
<div class="modal fade bd-example-modal-lg" id="edit_fila" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                    <i class="font-icon-close-2"></i>
                </button>
                <h4 class="modal-title" id="titulo_ciclo_ed"></h4>
            </div>
            <form action="" id="form_ciclo">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="card-block">
                            <div class="row">
                                <div class="form-group col-md-4 col-sm-6">
                                    <input type="text"  id="if_fila" hidden="true">
                                    <input type="text" id="tareaDetalle_fila" hidden="true">
                                    <input type="text" id="periodicidadDetalle_fila" hidden="true">
                                    <input type="text" id="periodoDetalle_fila" hidden="true">
                                    <label class="form-label" for="tipo_protocolo">Tipo de protocolo</label>
                                    <select class="form-control" id="tipo_protocolo" name="tipo_protocolo">
                                    </select>
                                </div>
                                <div class="form-group col-md-4 col-sm-6">
                                    <label class="form-label" for="periodicidad">Periodicidad</label>
                                    <select class="form-control" id="periodicidad" name="periodicidad">
                                        <option value="Diario">Diario</option>
                                        <option value="Semanal">Semanal</option>
                                        <option value="Mensual">Mensual</option>
                                        <option value="Anual">Anual</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4 col-sm-6" id="tipo_periodo_d" style="display: none;">
                                    <label class="form-label">Seleccione un ciclo:</label>
                                    <div class="radio">
                                        <input type="radio" name="optionsRadios" id="todos_los_dias" value="TLD">
                                        <label for="todos_los_dias">Todos los días</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="optionsRadios" id="cnd" value="CND">
                                        <label for="cnd">Cada&nbsp;
                                        <input class="form-control" min="1" style="width: 60px; display: inline-block; z-index: 1;" type="number" name="d" id="d">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;días</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-6" id="tipo_periodo_s" style="display: none;">
                                    <label class="form-label">Seleccione un ciclo:</label>
                                    <div class="radio">
                                        <input type="radio" name="optionsRadios" id="todas_las_semanas" value="TLS">
                                        <label for="todas_las_semanas">Todas las semanas</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="optionsRadios" id="cns" value="CNS">
                                        <label for="cns">Cada&nbsp;
                                        <input class="form-control" min="1" style="width: 60px; display: inline-block; z-index: 1;" type="number" name="s" id="s">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;semanas</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-6" id="tipo_periodo_m" style="display: none;">
                                    <label class="form-label">Seleccione un ciclo:</label>
                                    <div class="radio">
                                        <input type="radio" name="optionsRadios" id="todos_los_meses" value="TLM">
                                        <label for="todos_los_meses">Todos los meses</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="optionsRadios" id="cnm" value="CNM">
                                        <label for="cnm">Cada&nbsp;
                                        <input class="form-control" min="1" style="width: 60px; display: inline-block; z-index: 1;" type="number" name="m" id="m">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;meses</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-6" id="tipo_periodo_a" style="display: none;">
                                    <label class="form-label">Seleccione un ciclo:</label>
                                    <div class="radio">
                                        <input type="radio" name="optionsRadios" id="todos_los_anos" value="TLA">
                                        <label for="todos_los_anos">Todos los años</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="optionsRadios" id="cna" value="CNA">
                                        <label for="cna">Cada&nbsp;
                                        <input class="form-control" min="1" style="width: 60px; display: inline-block; z-index: 1;" type="number" name="a" id="a">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;años</label>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <button type="button"  name="act_fila" id="act_fila" class="btn btn-rounded btn-success float-right">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>  
<div class="modal fade bd-example-modal-lg" id="new_fila" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                    <i class="font-icon-close-2"></i>
                </button>
                <h4 class="modal-title" id="titulo_ciclo_i"></h4>
            </div>
            <form action="" id="form_ciclo">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="card-block">
                            <div class="row">
                                <div class="form-group col-md-4 col-sm-6">
                                    <input type="text" hidden="true" id="id_fila_i">
                                    <label class="form-label" for="tipo_protocolo_i">Tipo de protocolo</label>
                                    <select class="form-control" id="tipo_protocolo_i" name="tipo_protocolo_i">
                                    </select>
                                </div>
                                <div class="form-group col-md-4 col-sm-6">
                                    <label class="form-label" for="periodicidad_i">Periodicidad</label>
                                    <select class="form-control" id="periodicidad_i" name="periodicidad_i">
                                    </select>
                                </div>
                                <div class="form-group col-md-4 col-sm-6" id="tipo_periodo_d_i" style="display: none;">
                                    <label class="form-label">Seleccione un ciclo:</label>
                                    <div class="radio">
                                        <input type="radio" name="optionsRadio_i" id="todos_los_dias_i" value="TLD">
                                        <label for="todos_los_dias_i">Todos los días</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="optionsRadio_i" id="cnd_i" value="CND">
                                        <label for="cnd_i">Cada&nbsp;
                                        <input class="form-control" min="1" style="width: 60px; display: inline-block; z-index: 1;" type="number" name="d_i" id="d_i">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;días</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-6" id="tipo_periodo_s_i" style="display: none;">
                                    <label class="form-label">Seleccione un ciclo:</label>
                                    <div class="radio">
                                        <input type="radio" name="optionsRadio_i" id="todas_las_semanas_i" value="TLS">
                                        <label for="todas_las_semanas_i">Todas las semanas</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="optionsRadio_i" id="cns_i" value="CNS">
                                        <label for="cns_i">Cada&nbsp;
                                        <input class="form-control" min="1" style="width: 60px; display: inline-block; z-index: 1;" type="number" name="s_i" id="s_i">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;semanas</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-6" id="tipo_periodo_m_i" style="display: none;">
                                    <label class="form-label">Seleccione un ciclo:</label>
                                    <div class="radio">
                                        <input type="radio" name="optionsRadio_i" id="todos_los_meses_i" value="TLM">
                                        <label for="todos_los_meses_i">Todos los meses</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="optionsRadio_i" id="cnm_i" value="CNM">
                                        <label for="cnm_i">Cada&nbsp;
                                        <input class="form-control" min="1" style="width: 60px; display: inline-block; z-index: 1;" type="number" name="m_i" id="m_i">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;meses</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-6" id="tipo_periodo_a_i" style="display: none;">
                                    <label class="form-label">Seleccione un ciclo:</label>
                                    <div class="radio">
                                        <input type="radio" name="optionsRadio_i" id="todos_los_anos_i" value="TLA">
                                        <label for="todos_los_anos_i">Todos los años</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="optionsRadio_i" id="cna_i" value="CNA">
                                        <label for="cna_i">Cada&nbsp;
                                        <input class="form-control" min="1" style="width: 60px; display: inline-block; z-index: 1;" type="number" name="a_i" id="a_i">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;años</label>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="col-md-12 col-sm-6">
                                    <button type="button"  name="inserta_fila" id="inserta_fila" class="btn btn-rounded btn-success float-right">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>  