<div class="modal fade bd-example-modal-lg" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                    <i class="font-icon-close-2"></i>
                </button>
                <h4 class="modal-title" id="titulo_ciclo">Agregar ciclo</h4>
            </div>
            <form action="" id="form_ciclo">
                <div class="modal-body">
                    <cdiv class="form-group">
                        <div class="card-block">
                            <div class="row">
                                <cdiv class="form-group">
                                    <label for="atp">Descripción</label>
									<select class="select2" name="cicloa" id="cicloa">
                                        <option value="">Seleccione un ciclo</option>
                                        {{#each ciclo}}
                                        <option value="{{NOMBRE}}">{{NOMBRE}}</option>
                                        {{/each}}
                                    </select>
                                </cdiv>
								<br>
                                <br>
                                <div>
                                    <button type="button"  name="action" id="asignar_ciclo" class="btn btn-rounded btn-primary float-right">Asignar</button>
                                </div>
                            </div>
                        </div>
                    </cdiv>
                </div>
            </form>
        </div>
    </div>
</div>  