<div class="modal fade bd-example-modal-lg" id="planificacion" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                    <i class="font-icon-close-2"></i>
                </button>
                <h4 class="modal-title" id="titulo_planificar">Planificación de tareas</h4>
            </div>
            <form action="" id="form_ciclo">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="card-block">
                            <div class="row">
                                <div class="form-group col-md-12 col-sm-6">
                                    <label class="form-label" for="inicial_plan">Fecha inicial</label>
                                    <input class="form-control" type="date" id="inicial_plan" name="inicial_plan">
                                </div>
                                <div class="form-group col-md-12 col-sm-6">
                                    <label class="form-label" for="final_plan">Fecha final</label>
                                    <input class="form-control" type="date" id="final_plan" name="final_plan">   
                                </div>
                                <div class="form-group col-md-12 col-sm-6" style="display: none;" id="div_tecnico">
                                    <label class="form-label" for="tecnico">Asigne un técnico</label>
                                    <select class="select2" name="tecnico" id="tecnico">
                                        <option value="" selected disabled>Seleccione una opción</option>
                                        {{#each tecnicos}}
                                        <option value="{{ID}}">{{LOGIN}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-md-12 col-sm-6">
                                    <br>
                                    <button type="button"  name="crear_plan" id="crear_plan" class="btn btn-success btn-sm float-right" disabled>Planificar</button>
                                    <button type="button" name="verificar" id="verificar" class="btn btn-warning btn-sm float-right" style="margin-right: 10px;">Verificar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>  