<style>
    .modal {
      text-align: center;
      padding: 0!important;
    }

    .modal:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -4px;
    }

    .modal-dialog {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      width: 200px; 
    }
    .timer {
      font-size: 50px;
      font-weight: bold;
      color: #fc1104e0;
      display: inline-block;
      width: 100%; 
      margin: 0 auto;
      text-align: center; 
    }

    #sessionMessage,
    #sessionMessage1 {
      text-align: center;
    }
</style>
<div id="sessionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" data-backdrop="static" data-keyboard="false" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md"> 
    <div class="modal-content">
      <div class="modal-header" style="background-color: #d90d2b; color: #fff;"> 
        <h4 class="modal-title">¡Atención!</h4>
      </div>
      <div class="modal-body">
        <p id="sessionMessage" class="text-center">Tu sesión expirará en:</p> 
        <span id="sessionTimer" class="timer"></span> 
        <p id="sessionMessage1" class="text-center">segundos.</p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success float-left" id="continueBtn">Continuar</button> 
        <button type="button" class="btn btn-danger" id="closeBtn">Cerrar sesión</button>
      </div>
    </div>
  </div>
</div>
<script>
    closeBtn.addEventListener("click", () => {
        window.location.href = "/logout";
    });
    continueBtn.addEventListener('click', function() {
        fetch('/continuar', {
            method: 'GET',
            credentials: 'same-origin' 
        })
        .then(response => {
            // Una vez completada la petición, cerrar el modal
            $('#sessionModal').modal('hide');
        })
        .catch(error => {
            console.error('Error al continuar la sesión:', error);
        });
    });

</script>
