<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="/img/icono.ico">
    <link rel="stylesheet" href="/css/separate/pages/login.min.css">
    <link rel="stylesheet" href="/css/separate/vendor/fancybox.min.css">
    <link rel="stylesheet" href="/css/separate/pages/activity.min.css">

    <link rel="stylesheet" href="/css/lib/summernote/summernote.css"/>
    <link rel="stylesheet" href="/css/separate/pages/editor.min.css">

    <link rel="stylesheet" href="/css/lib/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="/css/lib/bootstrap/bootstrap.min.css">

    <link rel="stylesheet" href="/css/lib/bootstrap-sweetalert/sweetalert.css">
    <link rel="stylesheet" href="/css/separate/vendor/sweet-alert-animations.min.css">

    <link rel="stylesheet" href="/css/lib/datatables-net/datatables.min.css">
    <link type="text/css" href="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/separate/vendor/datatables-net.min.css">
    <link rel="stylesheet" href="/css/separate/vendor/select2.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/separate/vendor/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="css/lib/fullcalendar/fullcalendar.min.css">
    <link rel="stylesheet" href="css/separate/pages/calendar.min.css">

    <title>SAPMA - DAND</title>
</head>
<body class="with-side-menu theme-picton-blue-white-ebony">
    {{{body}}}
</body>
</html>